body{
    margin: 0;
    padding: 0;
    background-color:#fee4e4;
    font-family: cursive;
    font-weight: 800;
}

h1{
    text-align: center;
}
#btn{
    margin: 50% 40%;
    padding: 1.2rem;
    border: none;
    background-color: #cd84f1;
    color: rgb(49, 49, 49);
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 15px;
    transition: all 0.4s ease-out;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);;
    cursor: pointer;
}
#btn:hover{
    transform: translate(5px);
}
